/*Modifies bar at top*/

nav{
  display:flex;
  flex-direction: row;
font-family: 'Fira Sans', sans-serif;}
h4{
  flex:1;
  padding-left:5%;
  padding-top:10px;
  margin:10px;
}
h1{
  font-family: 'Fira Sans', sans-serif;
  font-size: 70px;
}
h3{
  font-family: 'Fira Sans', sans-serif;
  font-weight: 400;
  font-size:40px;
  margin-top:-25px;
  margin-bottom:20px;

}

/*modifies main page info*/
header{
  background-color: #0e1821;
  padding: 1%;
  margin-top: -10px;
  width:100%;
}
.main-page{
  display:flex;
  flex-direction: row;
  margin-left:10%;
  margin-top:10%;
}
img{
  width:100%;
}
.item{
  flex:2;
}
.too-big{
  flex:1;
  margin-top:-30px;
}
body{
    background-color: #95bbd8;
}

/* links */
a.heads:link{
  color: white;
  text-decoration:none;
}
a.heads:visited{
 color: white;
  text-decoration:none;

}
a.heads:hover{
  color: grey;
    text-decoration:none;

}
a.heads:active{
  color: lightgrey;
    text-decoration:none;

}

.learn{
  font-family:'Fira Sans', sans-serif;
  font-size: 20px;  
}



/* modifies contact page links*/
a.contacts-links:link{
  color:#0e1821;
  text-decoration:none;
}
a.contacts-links:visited{
  color:#0e1821;
}
a.contacts-links:hover{
  color: #475058;
}


/*modifies contact page*/
.cpage{
  display:flex;
  flex-direction: column;
  margin-left:5%;
  margin-top:5%;
  margin-right:15%;
  /*border: 3px solid #0e1821;*/
  border-radius: 30px;
  padding-top:20px;
  background-color:#bdd6e9;
  align-content: flex-end;
}


.cpage-item{
  flex:1;
  font-weight:400;
  font-family:'Fira Sans', sans-serif;
  margin:10px 10%;

}

.email-info{
  margin:0px;
  margin-left: -2px;
}

h2{
    font-family:'Fira Sans', sans-serif;

}
.con-me-p{
    font-family:'Fira Sans', sans-serif;
font-weight: 400;
font-size: 30px;
margin-left:30px;
}


.contact-me{
margin-left:30px;
margin-bottom: -15px;
font-size: 50px;
}
.contact-page-clicks{
  font-size: 220%
}


/*modifies about me info*/
.main-group{
  display:flex;
  flex-direction:column;
  font-family:'Fira Sans', sans-serif;
  margin-left: 20%;
  margin-right:20%;
  margin-bottom: 10px;
  background-color: #bdd6e9;
  border-radius: 5px;
justify-content: space-between;
}
.main-group-item{
  margin: 10px;
  text-align:center;
  flex:1;
  align-self: space-between;
  font-size: 100%;

}

h5{
  font-family: 'Fira Sans', sans-serif;
  text-align:center;
  font-size: 50px;
  margin: 20px;
}

h6{
  font-weight:bold;
  margin: 1px;
  font-size: 20px;
}
.list{
  margin:10px;
  padding: 5px;
}

/*modifies project page info*/
.project-group{
  display:flex;
  flex-direction:column;
  margin-top: 5%;
}
.project-item{
  margin:10px;
  text-align:center;
}

/*formats for mobile*/
@media all and (min-width: 800px) {
.main-group{
  flex-direction:row;
}

.cpage{
  flex-direction: row;
}

.project-group{
  flex-direction:row;
}

}
